<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>PUBLISHER</th>
      </tr>
      <tr th:each="book : ${books}">
        <th th:text="${book.id}">123</th>
        <th th:text="${book.title}">Spring</th>
        <th th:text="${book.publisher.name}">publish</th>
      </tr>
    </table>
  </body>
</html>
